@import helper._
@(userForm: Form[UserData])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Add user") {

    <div class="jumbotron">
        <h1>Please enter user data.</h1>
        <hr>
    </div>

    @form(action = helper.CSRF(routes.UsersController.addUser())) {

        @inputText(userForm("Name"), Symbol("_showConstraints") -> false, Symbol("_showErrors") -> false)
        @inputText(userForm("Age"), Symbol("_showConstraints") -> false, Symbol("_showErrors") -> false)
        @inputText(userForm("Email"), Symbol("placeholder") -> "example@gmail.com", Symbol("_showConstraints") -> false, Symbol("_showErrors") -> false)
        @inputText(userForm("Phone"), Symbol("_showConstraints") -> false, Symbol("_showErrors") -> false)

        <input class="btn btn-primary mb-4" type="submit" value="Submit">
    }

}