@import helper._
@(editForm: Form[UserData])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Edit user") {

    <div class="jumbotron">
        <h1>You can edit user data here.</h1>
        <hr>
    </div>

    @form(action = helper.CSRF(routes.UsersController.editUser())) {

        @inputText(editForm("Name"), Symbol("_showConstraints") -> false, Symbol("_showErrors") -> false)
        @inputText(editForm("Age"), Symbol("_showConstraints") -> false, Symbol("_showErrors") -> false)
        @inputText(editForm("Email"), Symbol("_showConstraints") -> false, Symbol("_showErrors") -> false)
        @inputText(editForm("Phone"), Symbol("_showConstraints") -> false, Symbol("_showErrors") -> false)

        <input class="btn btn-primary mb-4" type="submit" value="Save">
    }
    @* TODO filled forms*@
}