@()

@main("Home page") {

        <div class="jumbotron">
            <h1>Lab 4 Play framework home page.</h1>
            <hr>
            <h3>List of dummy text</h3>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur debitis eius eos error facere, in ipsum itaque iusto laboriosam minus molestiae nihil numquam quisquam rem repellat suscipit veritatis voluptate?</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam architecto, autem consequuntur, dolorum error explicabo in iusto quas reiciendis reprehenderit, sapiente tempora voluptatem! Aspernatur deserunt doloremque maxime ratione sed!</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda blanditiis dolore earum enim id impedit labore maiores minima mollitia nam neque nesciunt nulla perspiciatis porro, reiciendis sapiente vero voluptates?</li>
            </ul>
        </div>

        <h3>Some random coffee photos to fill the page</h3>
        <div class="row">
            <div class="col-lg-4 col-6 mt-4"><img class="img-fluid img-thumbnail"
            src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/04LDEYRW59.jpg" alt=""></div>
            <div class="col-lg-4 col-6 mt-4"><img class="img-fluid img-thumbnail"
            src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/90V03Q5Y60.jpg" alt=""></div>
            <div class="col-lg-4 col-6 mt-4"><img class="img-fluid img-thumbnail"
            src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/O83SF2RB6D.jpg" alt=""></div>

            <div class="col-lg-4 col-6 mt-4"><img class="img-fluid img-thumbnail"
            src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/5JVPSVP7EI.jpg" alt=""></div>
            <div class="col-lg-4 col-6 mt-4"><img class="img-fluid img-thumbnail"
            src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/C5Y10KIIHA.jpg" alt=""></div>
            <div class="col-lg-4 col-6 mt-4"><img class="img-fluid img-thumbnail"
            src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/YSSFRY5B25.jpg" alt=""></div>
        </div>
        <br>
}
