@()

@main("Users") {

    <div class="jumbotron">
        <h1>Users page.</h1>
        <hr>
    </div>

    <div>

    @if(UserData.users.isEmpty) {
        <h3>Nothing to show</h3>
    } else {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th></th>
                </tr>
            </thead>
            @for(user <- UserData.users) { @* .sortBy(_.ID) ??? *@
                <tr>
                    <td>@user.ID</td>
                    <td>@user.name</td>
                    <td>@user.age</td>
                    <td>@user.email</td>
                    <td>@user.phone</td>
                    <td>
                        <div class="inputs-float">
                            <form action="@routes.UsersController.deleteUser()">
                                <input id="@user.ID-del" class="btn btn-primary btn-sm" type="submit" value="Delete">
                            </form>
                            <form action="@routes.UsersController.editUser()">
                                <input id="@user.ID-edit" class="btn btn-primary btn-sm" type="submit" value="Edit">
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </table>
    }

    </div>

    <div class="inputs-float">
        <form action="@routes.UsersController.addUser()">
            <input class="btn btn-primary" type="submit" value="Add user">
        </form>
    </div>

}